---
const {logo, navItems} = Astro.props
type Props = {
    logo: string,
    navItems: string[]}
---

        <nav>
            <ul>
                <li>Hello from Nav</li>
            </ul>
        </nav>
