---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global lang="scss">
	  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
  :root {
    --sherbert: hsl(35, 77%, 62%);
    --red: hsl(5, 85%, 63%);
    --offwht: hsl(36, 100%, 99%);
    --grayblue: hsl(233, 8%, 79%);
    --dkgrayblue: hsl(236, 13%, 42%);
    --verydk: hsl(240, 100%, 5%);

    p {
      font-size: 15px;
    }
  }
  html {
    font-family: 'Inter', sans-serif;
  }
  body {
	background-color:var(--offwht);
	margin-block:2rem;
	margin-inline:4rem;
  }
</style>
